*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    max-width: 1200px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 20px;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background: #ffffff;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar {
    display: flex;
    margin-right: 10px;
}

.logo {
    margin-left: 30px;
}

.logo a {
    text-decoration: none;
    color: #6eb0ee;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a {
    display: block;
    padding: 20px 20px;
    color: #b4b3f0;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a:hover {
    background: #3f3f3f;

}
img{
    max-width: 100%;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 30px 0 40px 0;
}


/*main*/
.container-items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.items{
    border-radius: 10px;
}
.items:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20)

}

.info-product{
    padding: 15px 30px;
}
.items img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}
.items figure{
    overflow:hidden;
}
.items:hover{
    transform: scale(1.2);
}